<header class="hero">
    <h1 class="app-title"><a href="/dashboard">Your Dashboard</a></h1>
</header>
<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ul>