<html>
  <head>
    <title>Meeting Room</title>
  </head>
  <body>
    <h1>Enter Meeting Room</h1>
    <form action="meeting_room.php" method="post">
      <label for="room_name">Room Name:</label>
      <input type="text" id="room_name" name="room_name" />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
      <br />
      <input type="submit" value="Enter Room" />
    </form>

  </body>
</html>